.color-btn {
	margin: 3px;
	width: 75px;
	height: 55px;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
}

/* Text editor */

.ql-container.ql-snow {
	border-style: none;
	color: black;
	font-size: 15px;
}

/* Link editor */

.ql-snow .ql-tooltip a { color: #007bff !important; text-decoration: none !important; }
.ql-snow .ql-tooltip a:hover { color: #007bff !important; text-decoration: none !important; }

#search-dialog {
	position: fixed;
	display: inline-flex;
	height: 42px;
	align-items: center;
	margin: 0;
	padding: 4px 6px;
	top: calc(42px + 0px);
	right: 0;
	z-index: 1020;
	background-color: #323232; color: #fff; border-color: #323232;
	border-bottom-left-radius: 4px;
}
.nav-filter 
{
	padding: 1px 4px;
	border-radius: 4px;
}
.nav-filter input { border: none; }
.nav-filter input:focus { outline: none; }

