a { text-decoration: none; }
ol, ul { list-style: none; margin:0; padding:0;}
a, img, li, input { -webkit-tap-highlight-color: transparent; }
input::-ms-clear { display: none; }

html {
	font-size: 14px;
}

h1 {
	font-size: 1.7em;
	font-weight: bold;
}
h2 {
	font-size: 1.3em;
	font-weight: bold;
}
h3 {
	font-size: 1.1em;
	font-weight: bold;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

input[type="color"] { padding: 1px; }

#navigation {
	margin: 0;
	padding: 2px 6px 2px 6px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	height: 42px;
	border-style: none;
	border-width: 0;
}

#content {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 42px;
	right: 0;
	left: 0;
	height: calc(100% - 42px);
	overflow: auto;
}

.nav-item {
	margin: 0;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-width: 38px;
	border-style: none;
	border-width: 0;
	text-align: center;
}
.nav-item:focus {
	outline: 0; /* removes pressed dots */
}
.nav-item img {
	height: 28px;
}
.nav-item svg {
	height: 28px;
	width: 28px;
}

.dropdown {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.dropdown-item {
	cursor: default;
	display: inline-flex;
	align-items: center;
	padding: 0.28rem 1.2rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dropdown-item img {
	margin-right: 0.6em;
}
.dropdown-item svg {
	margin-right: 0.6em;
	height: 26px;
	width: 26px;
}

.wraplist {
	display: block;
	margin: 0;
	padding: 0;
}
.wraplist-item {
	display: block;
	padding: 6px 5px 6px 5px;
	width: auto;
	vertical-align: top;
}

.sortable-item {
	position: relative;
}

.note-handle {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 14px;
	right: 18px;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	cursor: pointer;
}
.sortable-handle {
	right: 18px;
}
.safe-handle {
	right: 50px;
}
.recycle-handle {
	right: 18px;
	top: auto;
	bottom: 14px;
}

.background-icon {
	position: fixed;
	display: inline-block;
	right: 0;
	top: 0;
	width: 360px;
	height: 360px;
	z-index: -1;
}

.fab {
	position: fixed;
	display: inline-block;
	right: 2em;
	bottom: 2em;
	z-index: 1030;
	width: 56px;
	height: 56px;
	background-color: #2090ea;
	border-radius: 50%;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.fab a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 56px;
	height: 56px;
}
.fab img {
	width: 36px;
	height: 36px;
}
.fab svg {
	width: 36px;
	height: 36px;
}
.fab div.dropdown-menu {
	margin: 0 0 6px 8px;
	padding: 0;
	width: 40px;
	min-width: 40px;
	background: none;
	border: none;
}
.fab div.dropdown-menu a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 16px 0;
	padding: 0;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
.fab div.dropdown-menu svg {
	width: 24px;
	height: 24px;
	fill: #757575;
}
.fab.dropup .dropdown-toggle::after {
	display: none;
}

.dialog-action-arrow { font-size: 18pt; }

.note-card {
	padding: 12px;
	min-height: 115px;
	max-height: 160px;
	overflow: hidden;
	box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.4);
	font-size: 0.9em;
	user-select: none;
	cursor: default;
}
.note-card a:hover {
	cursor: default;
}

/* narrow browser */
@media screen and (max-width: 540px) {
	.show-only-on-wide-browser {
		display: none;
	}
}
/* wide browser */
@media screen and (min-width: 540.1px) {
	.show-only-on-narrow-browser {
		display: none;
	}
	.wraplist-item {
		display: inline-block;
		width: 240px;
	}
}
/* narrow device - phone */
@media screen and (max-device-width: 540px) {
	html {
		font-size: 17px;
	}
	#navigation {
		height: 48px;
	}
	#content {
		height: calc(100% - 48px);
	}
}
/* wide device - desktop */
@media screen and (min-device-width: 540.1px) {
}

/* tooltip */
a[data-tooltip] {
	position: relative;
}
a[data-tooltip]:hover:after {
	content: attr(data-tooltip);
	margin: 8px 10px 0 0;
	padding: 4px 6px;
	position: absolute;
	right: 0;
	top: 100%;
	border: 1px #b4b4b7 solid;
	white-space: nowrap;
	z-index: 2;
	font-family: Arial;
	font-size: 0.8em;
}

.invisible {
	visibility: collapse;
}

/* used by htmlViewBindingsSetVisibility() */
.hidden {
	display: none !important;
}

/* Text formatting */

.note-viewer h1 {
	margin: 0.7em 0 0.3em 0 !important;
	font: normal bold 1.35em/1.1 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
}
.note-viewer h2 {
	margin: 0.8em 0 0.2em 0 !important;
	font: normal bold 1.2em/1.1 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
}
.note-viewer h3 {
	margin: 0.8em 0 0.2em 0 !important;
	font: normal bold 1.1em/1.1 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
}

.note-viewer p {
	margin: 0 0 0.2em 0 !important;
	font: normal normal 1em/1.4 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
}

.note-viewer ol {
	margin: 0.5em 0 0.5em 0 !important;
	padding: 0 !important;
	font: normal normal 1em/1.4 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
	list-style: none;
	counter-reset: sn-counter;
}
.note-viewer ol > li {
	margin-left: 1.8em !important;
	padding: 0 !important;
	counter-increment: sn-counter;
}
.note-viewer ol > li::before {
	display: inline-block;
	margin: 0 0 0 -1.8em !important;
	padding: 0 0.3em 0 0 !important;
	width: 1.8em !important;
	content: counter(sn-counter) ".";
	text-align: right !important;
}

.note-viewer ul {
	margin: 0.5em 0 0.5em 0 !important;
	padding: 0 !important;
	font: normal normal 1em/1.4 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
	/* list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-32 -32 64 64' fill='blue' ><circle r='16' /></svg>"); */
}
.note-viewer ul > li {
	margin-left: 1.8em !important;
	padding: 0 !important;
}
.note-viewer ul > li::before {
	display: inline-block;
	margin: 0 0 0 -1.8em !important;
	padding: 0 0.3em 0 0 !important;
	width: 1.8em !important;
	white-space: nowrap;
	content: '•';
	text-align: right !important;
}

.note-viewer pre {
	margin: 0.5em 0 0.5em 0 !important;
	padding: 1em !important;
	font: normal normal 0.9em/1.2 Consolas,monospace,"Courier New" !important;
	overflow: auto !important;
	white-space: pre !important;
	text-wrap: none !important;
}

.note-viewer blockquote {
	margin: 0.5em 0 0.5em 0 !important;
	padding: 0 0 0 1em !important;
	font: normal normal 1em/1.5 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
	border-left: 3px solid rgba(128, 128, 128, 0.4) !important;
}
.note-viewer.dark blockquote {
	border-left: 3px solid rgba(211, 211, 211, 0.6) !important;
}
.note-viewer a { text-decoration: none !important; }
.note-viewer a:hover { text-decoration: underline !important; }

/* Checklist in editor. The content: url() is set in view to avoid external resource and to configure the color. */

.detail-view.checklist .ql-editor p {
	position: relative;
	padding: 0.5em 3em 0.5em 3em;
	border-radius: 4px;
	pointer-events: none;
}
.detail-view.checklist .ql-editor p::before {
	display: inline-block;
	position: absolute;
	left: 0.8em;
	vertical-align: middle;
	pointer-events: all;
	cursor: pointer;
}
.detail-view.checklist .ql-editor p::after {
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0.8em;
	vertical-align: middle;
	pointer-events: all;
	cursor: pointer;
	opacity: .65;
}
.detail-view.dark.checklist .ql-editor p::after {
	opacity: .7;
}
.detail-view.checklist .ql-editor p.disabled {
	text-decoration: line-through;
}
.detail-view.checklist .ql-editor p.disabled::before {
	opacity: .2;
}

/* Checklist in overview. The content: url() is set in view to avoid external resource and to configure the color. */

.note-viewer.over-view.checklist p {
	position: relative;
	padding: 0.2em 2em 0.2em 2em;
	overflow: hidden;
	min-height: 2em;
	max-height: 3em;
	border-radius: 4px;
}
.note-viewer.over-view.checklist p::before {
	display: inline-block;
	position: absolute;
	left: 0.1em;
	vertical-align: middle;
}
.note-viewer.over-view.checklist p.disabled {
	text-decoration: line-through;
}
.note-viewer.over-view.checklist p.disabled::before {
	opacity: .2;
}
