body { background-color: #f0f0f0; }
h1, h2, h3 { color: steelblue; }
a { color: #007bff; }
a:hover { color: #007bff; }
#navigation { background-color: #323232; color: #FFFFFF; }
.nav-item { background-color: #323232; color: #fff; border-color: #323232; }
.nav-item:hover { background-color: #5a6268; border-color: #545b62; }
.nav-item svg { fill: white; }
.nav-filter {background-color: #FFFFFF; }
.nav-filter:hover { background-color: #FFFFFF; }
.nav-filter input { background-color: transparent; color: #666666; }
#filter-icon { fill: #a8a8a8; }
#filter-cancel-icon { fill: #666666; }
.dialog-action-arrow { color: ForestGreen }

.dropdown-item svg { fill: #666666; }
.sortable-ghost { background-color: rgba(38, 160, 218, 0.3); }
.note-handle { background-color: rgba(172, 172, 172, 0.5); fill: #707070 }
.note-handle.dark { background-color: rgba(204, 204, 204, 0.7); fill: #606060; }
.background-icon { fill: #dedede; }
.fab { background-color: #2090ea; }
.fab svg { fill: white; }
.note-card { background-color: #fbf4c1; }
#recycled-notes .note-card { background-color: #f5f5f5; }
.restore svg { fill: #259000; }
a[data-tooltip]:hover:after { background: #f1f2f7; color: #575757; }

.note-viewer { color: black !important; }
.note-viewer.dark { color: white !important; }
.note-viewer h1 { color: rgba(70, 130, 180, 1) !important; }
.note-viewer.dark h1 { color: rgba(173, 216, 230, 1) !important; }
.note-viewer h2 { color: rgba(70, 130, 180, 0.85) !important; }
.note-viewer.dark h2 { color: rgba(173, 216, 230, 0.94) !important; }
.note-viewer h3 { color: rgba(70, 130, 180, 0.7) !important; }
.note-viewer.dark h3 { color: rgba(173, 216, 230, 0.88) !important; }
.note-viewer ol > li::before { color: steelblue; }
.note-viewer.dark ol > li::before { color: lightblue; }
.note-viewer ul > li::before { color: steelblue !important; }
.note-viewer.dark ul > li::before { color: lightblue !important; }
.note-viewer pre { background-color: rgba(128, 128, 128, 0.2) !important; color: black !important; }
.note-viewer.dark pre { background-color: rgba(211, 211, 211, 0.3) !important; color: white !important; }
.note-viewer a { color: rgba(70, 130, 180, 0.80) !important; }
.note-viewer a:hover { color: rgba(70, 130, 180, 0.80) !important; }
.note-viewer.dark a { color: rgba(173, 216, 230, 0.90) !important; }
.note-viewer.dark a:hover { color: rgba(173, 216, 230, 0.90) !important; }

.note-viewer.over-view.checklist p,
.detail-view.checklist .ql-editor p { background-color: rgba(128, 128, 128, 0.2); }
.note-viewer.dark.over-view.checklist p,
.detail-view.dark.checklist .ql-editor p { background-color: rgba(211, 211, 211, 0.3); }
.note-viewer.over-view.checklist p.done,
.detail-view.checklist .ql-editor p.done { background: #CCFF99; }
.note-viewer.dark.over-view.checklist p.done,
.detail-view.dark.checklist .ql-editor p.done { background: #407740; }
.note-viewer.over-view.checklist p.disabled,
.detail-view.checklist .ql-editor p.disabled { color: rgba(0, 0, 0, 0.2); }
.note-viewer.dark.over-view.checklist p.disabled,
.detail-view.dark.checklist .ql-editor p.disabled { color: rgba(255, 255, 255, 0.2); }
