:root {
	--font-color-light-background: black;
	--font-color-dark-background: white;
	--note-handle-mx: 10px;
	--note-handle-my: 8px;
}

body { font-size: 14px; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" }
h1 { font-size: 1.7em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
h1:focus { outline: none; }
.h-colored {
	color: var(--mud-palette-primary-darken);
}

.mud-container-left { margin-left: 0; }
.mud-container-p { padding-bottom: 20px; }

.toggled svg { fill: var(--mud-palette-tertiary); }

.form-row {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}
.form-group {
	display: flex;
	align-items: baseline;
	margin: 0;
	padding: 0;
}
.form-control {
}

.background-icon {
	position: fixed;
	display: inline-block;
	right: 0;
	top: 0;
	width: 360px;
	height: 360px;
	z-index: -1;
	color: var(--mud-palette-background-grey)
}

.fab-position {
	position: fixed;
	right: 2em;
	bottom: 2em;
}

.filter-input, .filter-input:hover, .filter-input:before, .filter-input:after, .filter-input:focus, .filter-input:focus-within {
	border-bottom-style: none !important;
}

.note-list {
	display: flex;
	flex-wrap: wrap;
}
.note-item {
	display: block;
	width: 100%;
	padding: 0 6px; /* flex gap not working on Android 7, only padding and margin */
	margin: 6px 0;
}
/* sm breakpoint */
@media screen and (min-width: 600px) {
	.note-item {
		display: inline-block;
		width: 240px;
	}
}

/* The note light/dark is independend of the theme */
.note-light {
	color: var(--font-color-light-background);
}
.note-dark {
	color: var(--font-color-dark-background);
}

.note-card {
	position: relative;
	padding: 12px;
	overflow: hidden;
	font-size: 0.9em;
	user-select: none;
	cursor: default;
}
.note-card a:hover {
	cursor: default;
}

.note-locked {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.note-locked svg {
	width: 36px;
	height: 36px;
	fill: rgba(160, 160, 160, 0.4);
}
.note-light .note-locked svg { fill: rgba(172, 172, 172, 0.5); }
.note-dark .note-locked svg { fill: rgba(204, 204, 204, 0.4); }

.pin {
	display: inline-flex;
	position: absolute;
	left: 0;
	top: 5px;
	fill: #e60000;
	filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.4));
}

.note-handle {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: var(--note-handle-my);
	right: var(--note-handle-mx);
	width: 26px;
	height: 26px;
	border-radius: 13px;
	cursor: pointer;
}
.note-light .note-handle { background-color: rgba(172, 172, 172, 0.5); fill: #707070 }
.note-dark .note-handle { background-color: rgba(204, 204, 204, 0.7); fill: #606060; }
.note-handle.greenish { background-color: rgba(145, 238, 145, 0.9); fill: #2aac2a; }
.note-handle.reddish { background-color: rgba(238, 145, 145, 0.9); fill: #de2121; }

.sortable-handle {
}
.safe-handle {
	right: 50px;
}
.recycle-handle {
	top: auto;
	bottom: var(--note-handle-my);
}

.color-swatch {
/*	display: inline-block;*/
	width: 42px;
	height: 28px;
	border-radius: 3px;
	border: 1px solid var(--mud-palette-lines-default);
}

/* Text formatting */

.note-viewer h1 {
	margin: 0.7em 0 0.3em 0 !important;
	font: normal bold 1.35em/1.1 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
}
.note-viewer h2 {
	margin: 0.8em 0 0.2em 0 !important;
	font: normal bold 1.2em/1.1 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
}
.note-viewer h3 {
	margin: 0.8em 0 0.2em 0 !important;
	font: normal bold 1.1em/1.1 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
}

.note-viewer p {
	margin: 0 0 0.2em 0 !important;
	font: normal normal 1em/1.4 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
}

.note-viewer ol {
	margin: 0.5em 0 0.5em 0 !important;
	padding: 0 !important;
	font: normal normal 1em/1.4 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
	list-style: none;
	counter-reset: sn-counter;
}
.note-viewer ol > li {
	margin-left: 1.8em !important;
	padding: 0 !important;
	counter-increment: sn-counter;
}
.note-viewer ol > li::before {
	display: inline-block;
	margin: 0 0 0 -1.8em !important;
	padding: 0 0.3em 0 0 !important;
	width: 1.8em !important;
	content: counter(sn-counter) ".";
	text-align: right !important;
	vertical-align: top;
}

.note-viewer ul {
	margin: 0.5em 0 0.5em 0 !important;
	padding: 0 !important;
	font: normal normal 1em/1.4 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
	/* list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-32 -32 64 64' fill='blue' ><circle r='16' /></svg>"); */
}
.note-viewer ul > li {
	margin-left: 1.8em !important;
	padding: 0 !important;
}
.note-viewer ul > li::before {
	display: inline-block;
	margin: 0 0 0 -1.8em !important;
	padding: 0 0.3em 0 0 !important;
	width: 1.8em !important;
	white-space: nowrap;
	content: '•';
	text-align: right !important;
	vertical-align: top;
}
.note-viewer li>p:first-child {
    display: inline;
}

.note-viewer pre {
	margin: 0.5em 0 0.5em 0 !important;
	padding: 1em !important;
	font: normal normal 0.9em/1.2 Consolas,monospace,"Courier New" !important;
	overflow: auto !important;
	white-space: pre !important;
	text-wrap: none !important;
}

.note-viewer blockquote {
	margin: 0.5em 0 0.5em 0 !important;
	padding: 0 0 0 1em !important;
	font: normal normal 1em/1.5 "Segoe UI",Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol" !important;
	border-left: 3px solid rgba(128, 128, 128, 0.4) !important;
}
.note-viewer.dark blockquote {
	border-left: 3px solid rgba(211, 211, 211, 0.6) !important;
}
.note-viewer a { text-decoration: none !important; }
.note-viewer a:hover { text-decoration: underline !important; }

.note-light .note-viewer h1 { color: rgba(70, 130, 180, 1) !important; }
.note-light .note-viewer h2 { color: rgba(70, 130, 180, 0.85) !important; }
.note-light .note-viewer h3 { color: rgba(70, 130, 180, 0.7) !important; }
.note-light .note-viewer ol > li::before { color: steelblue; }
.note-light .note-viewer ul > li::before { color: steelblue !important; }
.note-light .note-viewer pre { background-color: rgba(128, 128, 128, 0.2) !important; color: black !important; }
.note-light .note-viewer a { color: rgba(70, 130, 180, 0.80) !important; }
.note-light .note-viewer a:hover { color: rgba(70, 130, 180, 0.80) !important; }
.note-dark .note-viewer h1 { color: rgba(173, 216, 230, 1) !important; }
.note-dark .note-viewer h2 { color: rgba(173, 216, 230, 0.94) !important; }
.note-dark .note-viewer h3 { color: rgba(173, 216, 230, 0.88) !important; }
.note-dark .note-viewer ol > li::before { color: lightblue; }
.note-dark .note-viewer ul > li::before { color: lightblue !important; }
.note-dark .note-viewer pre { background-color: rgba(211, 211, 211, 0.3) !important; color: white !important; }
.note-dark .note-viewer a { color: rgba(173, 216, 230, 0.90) !important; }
.note-dark .note-viewer a:hover { color: rgba(173, 216, 230, 0.90) !important; }

/* Checklist in overview. The svg content: url() is set in view with the IconService. */

.note-viewer.over-view.checklist p {
	position: relative;
	padding: 0.2em 2em 0.2em 2em;
	overflow: hidden;
	min-height: 2em;
	max-height: 3em;
	border-radius: 4px;
}
.note-viewer.over-view.checklist p::before {
	display: inline-block;
	position: absolute;
	left: 0.1em;
	vertical-align: middle;
}
.note-viewer.over-view.checklist p.disabled {
	text-decoration: line-through;
}
.note-viewer.over-view.checklist p.disabled::before {
	opacity: .2;
}

.note-light .note-viewer.over-view.checklist p,
.note-light .detail-view.checklist .ProseMirror p { background-color: rgba(128, 128, 128, 0.2); }

.note-light .note-viewer.over-view.checklist p.done,
.note-light .detail-view.checklist .ProseMirror p.done { background: #ccf0a8; }

.note-light .note-viewer.over-view.checklist p.disabled,
.note-light .detail-view.checklist .ProseMirror p.disabled { color: rgba(0, 0, 0, 0.5); text-decoration-color: rgba(0, 0, 0, 0.25); }

.note-dark .note-viewer.over-view.checklist p,
.note-dark .detail-view.checklist .ProseMirror p { background-color: rgba(211, 211, 211, 0.3); }

.note-dark .note-viewer.over-view.checklist p.done,
.note-dark .detail-view.checklist .ProseMirror p.done { background: #467c46; }

.note-dark .note-viewer.over-view.checklist p.disabled,
.note-dark .detail-view.checklist .ProseMirror p.disabled { color: rgba(255, 255, 255, 0.5); text-decoration-color: rgba(255, 255, 255, 0.25); }

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#blazor-error-ui .dismiss {
	cursor: pointer;
	position: absolute;
	right: 0.75rem;
	top: 0.5rem;
}
