@using SilentNotes.ViewModels
@model NoteRepositoryViewModel
<ul id="note-repository" class="wraplist selectable sortable">
    @foreach (var note in @Model.FilteredNotes)
    {
        <li class="wraplist-item selectable-item sortable-item @if(@Model.SelectedNote == @note) { <text>selected</text> }" data-note="@note.Id.ToString()">
            <div class="note-card" style="background-color:@note.BackgroundColorHex">
                <div class="note-viewer @note.GetDarkClass()">@{WriteLiteral(note.HtmlContent);}</div>
            </div>
            <div class="sortable-handle @note.GetDarkClass()">@{WriteLiteral(Model.Icon["menu-swap"]);}</div>
        </li>
    }
</ul>
