@using SilentNotes.ViewModels
@model RecycleBinViewModel
<ul id="recycled-notes" class="wraplist">
    @foreach (var note in @Model.RecycledNotes)
    {
        <li class="wraplist-item">
            <div class="note-card">
                <div>@{WriteLiteral(note.UnlockedHtmlContent);}</div>
                <span class="restore undelete" onclick="bind(event);" data-binding="restore_note" data-note="@note.Id.ToString()" title="@Model.Language["note_undelete"]">
                    @{WriteLiteral(Model.Icon.LoadIcon("file-restore"));}
                </span>
            </div>
        </li>
    }
</ul>
