<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="25" package="ch.martinstoeckli.silentnotes" android:installLocation="preferExternal" android:versionName="4.0.0">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="SilentNotes" android:allowBackup="false" android:icon="@drawable/ic_launcher"></application>
</manifest>